@keyframes scrollLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -200px;
  }
}

.custom-class {
  @apply bg-blue-400 text-lg text-white font-semibold font-mono;
}

.rdp-vhidden {
  @apply hidden;
}

.rdp-caption_dropdowns {
  @apply flex flex-row gap-3;
}

.number-field {
  @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
}
